body {
    background-color: white;
}
/* Isso é um comentário */

h1 {
    color: maroon;
    text-align: justify;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: limegreen;
}

img {
    width: 80%;
    height: auto;
    filter: brightness(90%);
}